/* header */
.header {
  padding: var(--main-padding);
  background-color: var(--main-bg);
  width: 100%;
  /* box-shadow: var(--main-box-shadow); */
}
.headerName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
