/* header */
.header {
  padding: var(--main-padding);
  background-color: var(--main-bg);
  width: 100%;
  /* box-shadow: var(--main-box-shadow); */
}

.headerName {
  font-weight: 600;
  display: flex;
  align-items: center;
}

.headerName h3 {
  margin: 0;
  margin-left: 10px;
}
